<p>home works!</p>
<nav class="navbar navbar-light" style="background-color: #0d949e;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          
        <span class="navbar-toggler-icon"><a class="navbar-brand"[routerLink]="['/addarticle']">add Article</a>  </span>
    </button>


    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      
        <span class="navbar-toggler-icon"><a class="navbar-brand"[routerLink]="['/articles']">Articles</a> </span>
    </button>


    

    </nav>

    <!--<a [routerLink]="['/articles']">articles</a>
    <a [routerLink]="['/addarticle']">articles</a>-->
    